* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    background-color: #e2c5ae;
}

header {
    align-items: center;
    background-color: #cd8527;
    padding: 80px 0;
    color: #fff;
    display: flex;
    border-bottom: 16px solid #974f1f;
    font-style: italic;
    justify-content: center;
    align-items: center; 
}

header h1 {
    background-color: #cd8527;
}

header button {
    margin-left: 16px;
}

form {
    background-color: #e2c5ae;
    padding: 80px 0;
    text-align: center;
}

form #nova-tarefa {
    margin-bottom: 32px;
    background-color: #fff;
    
}

input, button {
    padding: 8px;
}

button {
    background-color: #5f742f;
    border: none;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}


#lista-container {
    text-align: center;
}

.ok {
    text-decoration: line-through;
}